.map {

}

#map-canvas {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.nav-decor {
  display: none !important;
}

.searchbox {
  // margin-top: 5px;
  form {
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  ion-icon {
    padding: 10px;
    margin-right: 10px;
  }
  ion-input { flex: 1; }
}

.search-btn {
  margin: 0;
}
