<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby Cafes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="list" padding>
  <ion-list>
    <ion-item class="cafe" *ngFor="let shop of shops" (click)="openShopModal(shop)">
      <div class="cafe__info" >
        <h2>{{shop.name}}</h2>
        <p>{{shop.vicinity}}</p>
      </div>
      <div class="cafe__rating">
        <ion-icon name="happy" class="happy" *ngIf="getRoominess(shop) === 'Roomy'"></ion-icon>
        <ion-icon name="sad" class="sad" *ngIf="getRoominess(shop) === 'Packed'"></ion-icon>
        <p>{{ getRoominess(shop) }}</p>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
