<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{shop.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <div>{{shop.name}}</div>
      <img src={{shop.photo}}/>
      <span *ngIf="shop.openNow">Open</span>
      <span *ngIf="!shop.openNow">Closed</span>
      <span>Availability: {{shop.metrics}} </span>
      <div>{{shop.address}}</div>
      <div>{{shop.description}}</div>
    </ion-item>
  </ion-list>

</ion-content>
